* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

a {
  color: #1a2b5f;
  text-decoration: none;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Poppins", sans-serif;
  color: #1a2b5f;
  margin-bottom: 10rem;
  line-height: 3rem;
}

.wrapper {
  max-width: 1440px;
  margin: 0 auto;
}

.container {
  margin: 0 auto;
  max-width: 1210px;
  padding-left: 2rem;
  padding-right: 2rem;
}

.header {
  padding-top: 4rem;
}

.header__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header__menu--list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.header__menu--item {
  margin-left: 5rem;
}

.header__menu--item:last-child {
  margin-left: 7rem;
}

.header__menu--link {
  font-size: 1.6rem;
  color: #1a2b5f;
}

.logo {
  font-size: 3rem;
  font-weight: 700;
  color: #1a2b5f;
}

.logo__text {
  color: #ffc87a;
}

.login {
  border: 1px solid;
  border-radius: 2.5rem;
  display: inline-block;
  padding: 1.5rem 2.5rem;
}

.banner {
  padding-top: 15rem;
  max-width: 80rem;
  margin: 0 auto;
  text-align: center;
}

.banner__title {
  padding-left: 5rem;
  padding-right: 5rem;
}

.banner__heading {
  font-size: 6rem;
  font-weight: 700;
}

.banner__desc {
  font-size: 2.5rem;
  margin-top: 4rem;
  margin-bottom: 4rem;
  padding-left: .5rem;
  padding-right: .5rem;
}

.banner__button > button {
  width: 13rem;
}

.button {
  min-width: 11rem;
  padding: 1.5rem 2.5rem;
  border: 1px solid;
  border-radius: 2.5rem;
  margin-left: 2rem;
  cursor: pointer;
  outline: none;
  font-size: 1.6rem;
  display: inline-block;
  background-color: white;
}

.button__primary--color {
  background-color: #ffc87a;
  border-color: #ffc87a;
  -webkit-box-shadow: 0px 10px 50px -3px #ffc87a;
          box-shadow: 0px 10px 50px -3px #ffc87a;
}

.categories {
  padding-top: 10rem;
}

.categories__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.categories__card {
  margin: 2rem;
  border-radius: 2.5rem;
  -webkit-box-shadow: 0px 50px 50px -3px #fca2d6;
          box-shadow: 0px 50px 50px -3px #fca2d6;
}

.categories__card--container {
  margin: 3rem;
}

.categories__card--image {
  border-radius: 2.5rem;
  margin-bottom: 2rem;
}

.categories__title {
  margin-bottom: 2rem;
}

.categories__desc {
  font-size: 1.5rem;
}

h2 {
  font-size: 4rem;
  font-weight: 700;
}

.features {
  margin-top: 10rem;
  font-size: 1.5rem;
}

.features__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.features__item > div {
  width: 50%;
}

.features__image > img {
  border-radius: 5rem;
  width: 100%;
  height: auto;
}

.features__detail--container {
  margin: 7rem;
}

.features__detail--container > h2 {
  line-height: 5rem;
  margin-bottom: 4rem;
}

.features__desc {
  margin-bottom: 4rem;
}

.features__detail--list > li {
  text-decoration: underline;
  margin-bottom: 3rem;
}

h3 {
  font-size: 2.5rem;
  font-weight: 700;
}

h4 {
  font-size: 1.8rem;
  font-weight: 700;
}

.partner {
  margin-top: 10rem;
  text-align: center;
}

.partner__inner > p {
  font-size: 2.7rem;
  font-weight: 700;
}

.partner__line {
  margin-top: 5rem;
  height: 0.3rem;
  background-color: #1a2b5f;
}

.partner__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.partner__list > li {
  margin: 4rem;
}

.connect {
  margin-top: 10rem;
}

.connect__title {
  text-align: center;
}

.connect__title > h2 {
  margin-bottom: 4rem;
}

.connect__tag {
  color: #ffc87a;
}

.connect__image--wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.connect__image--wrapper > img {
  margin-top: 5rem;
  margin-right: 2rem;
  border-radius: 2.5rem;
}

.connect__subc {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 10rem;
}

.connect__subc > div {
  width: 50%;
}

.connect__subc--title > p {
  font-size: 2.7rem;
  font-weight: 700;
}

.connect__link--list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.connect__link--list > li {
  margin-top: 5rem;
  margin-left: 3rem;
}

.connect__link--list > li > i {
  font-size: 3rem;
}

.connect__mail--input {
  background-color: transparent;
  border: 0;
  outline: none;
  height: 5rem;
  font-size: 1.4rem;
  font-family: "Poppins", sans-serif;
}

.connect__mail--input::-webkit-input-placeholder {
  padding-left: 2rem;
}

.connect__mail--input:-ms-input-placeholder {
  padding-left: 2rem;
}

.connect__mail--input::-ms-input-placeholder {
  padding-left: 2rem;
}

.connect__mail--input::placeholder {
  padding-left: 2rem;
}

.connect__mail {
  position: relative;
  background-color: whitesmoke;
}

.connect__mail--button {
  font-size: 1.4rem;
  font-weight: 700;
  font-family: "Poppins", sans-serif;
  color: #1a2b5f;
  position: absolute;
  outline: none;
  border: none;
  right: 1rem;
  cursor: pointer;
  background-color: whitesmoke;
  padding: 1.5rem 2.5rem;
}

.footer__content--wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer__link--wrapper {
  margin-right: 5rem;
  font-size: 1.7rem;
  font-weight: 600;
}

.footer__line {
  height: 0.3rem;
  background-color: #1a2b5f;
  margin-bottom: 5rem;
}

.term {
  font-size: 1.3rem;
  margin-top: 10rem;
}

.term__line {
  height: 0.1rem;
  background-color: #1a2b5f;
}

.term__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
/*# sourceMappingURL=css.css.map */