$primary-color: #ffc87a;
$text-color: #1a2b5f;
*{
    box-sizing: border-box;
}
a{
    color: $text-color;
    text-decoration: none;
}
html{
    font-size:62.5%;
}
body{
    font-family: "Poppins", sans-serif;
    color: $text-color;
    margin-bottom: 10rem;
    line-height: 3rem;

}
.wrapper{
    max-width: 1440px;
    margin: 0 auto;
}
.container{
    margin: 0 auto;
    max-width:1210px;
    padding-left: 2rem;
    padding-right: 2rem;
}
.header{
    padding-top: 4rem;
    &__inner{
        display: flex;
        align-items: center;
        justify-content:space-between;
    }
    &__menu{
            &--list{
                display: flex;
                align-items:center;
                justify-content: center;
        
            }
            &--item{
                margin-left: 5rem;
                &:last-child{
                    margin-left: 7rem;
                }
            }
            &--link{
                font-size:1.6rem;
                color: $text-color;
            }
           
        
    }
}
.logo{
    font-size: 3rem;
    font-weight: 700;
    color: $text-color;
    &__text{
        color: $primary-color;
    }
}
.login{
    border: 1px solid;
    border-radius: 2.5rem;
    display:inline-block;
    padding: 1.5rem 2.5rem;

}


.banner{
   padding-top: 15rem;
   max-width: 80rem;
    margin:0 auto;
    text-align:center;
    &__title{
        padding-left: 5rem;
        padding-right: 5rem;
    }
    &__heading{
        font-size: 6rem;
        font-weight:700;
    }
    &__desc{
        font-size:2.5rem;
        margin-top: 4rem;
        margin-bottom: 4rem;
        padding-left: .5rem;
        padding-right: .5rem;
    }
    &__button>button{
        width: 13rem;
    }

}
.button{
    min-width: 11rem;;
    padding: 1.5rem 2.5rem;
    border: 1px solid;
    border-radius: 2.5rem;
    margin-left: 2rem;
    cursor: pointer;
    outline:none;
    font-size:1.6rem;
    display: inline-block;
    background-color: white;

    &__primary--color{
        background-color:$primary-color;
        border-color: $primary-color;
        box-shadow:0px 10px 50px -3px $primary-color;

    }
}
.categories{
    padding-top: 10rem;
    &__inner{
        display: flex;
        justify-content:center;
        align-items: center;

    }
    &__card{
        margin: 2rem;
        border-radius: 2.5rem;
        box-shadow: 0px 50px 50px -3px #fca2d6;

    }
    &__card--container{
        margin:3rem;
    }
    &__card--image{
        border-radius: 2.5rem;
        margin-bottom: 2rem;
    }
    &__title{
        margin-bottom: 2rem;

    }
    &__desc{
        font-size: 1.5rem;
    }
}
h2{
    font-size:4rem;
    font-weight:700;
}

.features{
    margin-top: 10rem;
    font-size: 1.5rem;
    &__item{
        display: flex;
    }
    &__item>div{
        width: 50%;
    }
    &__image>img{
        border-radius: 5rem;
        width:100%;
        height:auto;
    }
    &__detail--container{
        margin: 7rem;
    }
    &__detail--container>h2{
        line-height:5rem;
        margin-bottom: 4rem;
    }
    &__desc{
        margin-bottom: 4rem;
    }
    &__detail--list>li{
        text-decoration: underline;
        margin-bottom: 3rem;
    }
    
}
h3{
    font-size:2.5rem;
    font-weight:700;
}
h4{
    font-size:1.8rem;
    font-weight: 700;
}
.partner{
  margin-top: 10rem;
  text-align: center;
  &__inner>p{
    font-size:2.7rem;
    font-weight: 700;
  }
  &__line{
      margin-top:5rem;
     height:0.3rem;
     background-color:$text-color;
  }
  &__list{
      display: flex;
      align-items: center;
      justify-content: center;
  }
  &__list>li{
      margin: 4rem;
  }
}

.connect{
    margin-top: 10rem;
    &__title{
        text-align: center;
    }
    &__title>h2{
        margin-bottom: 4rem;
    }
    &__tag{
        color: $primary-color;
    }
    &__image--wrapper{
        display: flex;
    }
    &__image--wrapper>img{
        margin-top: 5rem;
        margin-right: 2rem;
        border-radius: 2.5rem;
    }
   
    &__subc{
        display: flex;
        justify-content: center;
    
        margin-top: 10rem;
    }
    &__subc>div{
        width: 50%;
    }
    &__subc--title>p{
        font-size:2.7rem;
        font-weight: 700;
    }
    &__link--list{
        display: flex;
    }
    &__link--list>li{
        margin-top: 5rem;
        margin-left: 3rem;
    }
    &__link--list>li>i{
        font-size:3rem;
    }
    &__mail--input{
        background-color: transparent;
        border:0;
        outline: none;
        height: 5rem;
        font-size:1.4rem;
        font-family: "Poppins", sans-serif;
    }
    &__mail--input::placeholder{
        padding-left: 2rem;
    }

    &__mail{
        position: relative;
        background-color: rgb(245, 245, 245);
    }
    &__mail--button{
        font-size:1.4rem;
        font-weight: 700;
        font-family: "Poppins", sans-serif;
        color: $text-color;
        position: absolute;
        outline: none;
        border:none;
        right: 1rem;
        cursor: pointer;
        background-color: rgb(245, 245, 245);
        padding: 1.5rem 2.5rem;
    }
 
}
.footer{
    &__content--wrapper{
        display: flex;
        justify-content: space-between;
      
    }
    &__link--wrapper{
        margin-right: 5rem;
        font-size:1.7rem;
        font-weight:600;
    }
    &__line{
        height:0.3rem;
        background-color:$text-color;
        margin-bottom: 5rem;
    }
}


.term{
    font-size:1.3rem;
    margin-top: 10rem;
    &__line{
        height:0.1rem;
        background-color:$text-color;
    }
    &__wrapper{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}